.error-class {
  color:red;
}

.cetificates {
  top: 150px;
  font-family: calibri;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
  width: 230px;
}

.img-gallery {
  height: 180px;
  width: 200px;
  padding: 10px;
}

#progress_bar {
   margin: 10px 0;
   padding: 3px;
   border: 1px solid #000;
   font-size: 14px;
   clear: both;
   opacity: 0;
   -moz-transition: opacity 1s linear;
   -o-transition: opacity 1s linear;
   -webkit-transition: opacity 1s linear;
 }
 #progress_bar.loading {
   opacity: 1.0;
 }
 #progress_bar .percent {
   background-color: #99ccff;
   height: auto;
   width: 0;
 }
